 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 :root {
     --primary-color: #0f90db;
     --fitTrack-color: #f17d1e;
     --ecommerce-color: #fa6712;
     --secondary-color: #3af5b7;
     --background-color: #000927;
     --card-background: #1c1c3a;
     --text-color: #ffffff;
     --vendasViagens-color: #0d94e2;
     --biblioteca-color: #4c26f5;
     --textContainer-color: #2a2a4a;

 }

 body {
     background-color: var(--background-color);
     color: #ffffff;
     padding: 20px;

 }


 .container {
     max-width: 1200px;
     margin: 0 auto;
     padding: 20px;
 }

 #main-title {
     font-size: 3rem;
     text-align: center;
     background: linear-gradient(90deg, #0c0892, #3af5b7, #058ddc);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     margin-bottom: 10px;
 }

 .link-container {
     margin-top: auto;
     align-items: center;
     display: flex;
     flex-direction: column;
     gap: 20px;
     border-radius: 20px;
     background-color: #000927;
     padding: 20px;
     margin: auto;


 }

 .link-container h3 {
     color: #ffffff;
     font-size: 1.2rem;
     align-self: flex-start;
     margin-left: 20px;
 }

 .link-container p {
     align-self: flex-start;
     margin-left: 20px;

 }


 #projects-section {
     max-width: 1200px;
     display: flex;
     flex-direction: column;
     gap: 30px;

 }

 .project-card {
     background-color: #1c1c3a;
     border-radius: 10px;
     padding: 10px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     transition: transform 0.3s, box-shadow 0.3s;

 }

 .project-card:hover {
     transform: translateY(-5px);
     box-shadow: 0 10px 20px rgba(0, 255, 180, 0.3);
 }



 .project-card h2 {
     font-size: 1.5rem;
     margin-bottom: 10px;
     color: #3af5b7;
 }

 .project-card p {
     font-size: 1rem;
     color: #ffffffcc;
     margin-bottom: 10px;
 }

 .project-card a {
     display: inline-block;
     margin-top: auto;
     text-decoration: none;
     color: #0f90db;
     font-weight: bold;
     transition: color 0.3s;
 }

 .project-card a:hover {
     color: #3af5b7;
 }

 #about-section {
     margin: 50px;
     background-color: #2a2a4a94;
     padding: 30px;
     border-radius: 20px;

 }

 .about-actions {
     display: flex;
     gap: 12px;

 }

 .btn-primary {
     background-color: var(--primary-color);
     color: #ffffff;
     border: none;
     padding: 10px 20px;
     cursor: pointer;
     transition: background-color 0.3s;
     border-radius: 10px;
 }

 .btn-outline {
     background-color: transparent;
     color: var(--secondary-color);
     border: 1px solid rgba(58, 245, 183, 0.35);
     ;
     padding: 10px 20px;
     transition: background-color 0.3s;
     border-radius: 20px;
 }

 .about-top {
     display: flex;
     align-items: end;
     margin-bottom: 30px;
 }

 .about-label {
     color: var(--primary-color);
     font-size: 0.8rem;
     margin-top: 5px;
     font-weight: bold;
 }

 .about-grid {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 30px;
 }

 .about-left {
     display: flex;
     flex-direction: column;
     gap: 12px;

     padding-left: 20px;
     border-left: 1px outset var(--primary-color);
 }

 .about-right {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     gap: 12px;
     padding-right: 20px;
     border-right: 1px outset var(--primary-color);
 }

 .status-badge {
     padding: 5px 15px;
     align-items: center;
     background-color: #3af5b71e;
     color: var(--secondary-color);
     width: fit-content;
     border-radius: 20px;
     font-size: 0.9rem;
     animation: pulse 2s infinite;
     margin-bottom: 20px;
 }



 .about-heading {
     font-size: 2.2rem;
     color: #ffffff;
 }

 .about-hello {
     font-size: 0.9rem;
     background: radial-gradient(circle, var(--primary-color), var(--secondary-color));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-weight: bold;
 }

 .about-line {
     margin-left: 10px;
     margin-top: 50px;
     width: 90%;
     height: 1px;
     background: linear-gradient(90deg, var(--primary-color), var(--secondary-color), transparent);
     margin-top: 5px;
 }

 .about-line-bottom {
     margin-left: 10px;
     margin-top: 20px;
     width: 200%;
     height: 1px;
     background: linear-gradient(90deg, transparent, var(--biblioteca-color), var(--fitTrack-color));

 }

 .about-card {
     background-color: #2a2a4a;
     color: #ffffff;
     border-radius: 10px;
     padding: 20px;
 }

 .btn {
     margin-top: 20px;
     background-color: #086296;
     color: #3af5b7;
     border: none;
     padding: 10px 20px;
     cursor: pointer;
     transition: background-color 0.3s;
     align-self: flex-start;
     border-radius: 10px;
 }

 .card-content .btn {
     margin: 20px;
     margin-left: 40px;
 }

 .btn:hover {
     background-color: #3af5b7;
     color: #086296;
 }

 .hidden {
     display: none;

 }

 .img-wrapper {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     align-items: center;
     width: 100%;
     margin: 10px;
     padding: 10px;
     gap: 30px;


 }


 .img-wrapper:nth-of-type(even) {
     direction: rtl;
 }

 .img-wrapper:nth-of-type(even) .text-container,
 .img-wrapper:nth-of-type(even) .img-container {
     direction: ltr;
 }

 .card-content {

     background-color: #2a2a4a;
     margin-top: 10px;
     color: #ffffff99;
     border: #3af5b7 outset 1px;
     border-radius: 20px;
     animation: slideInTop 1s ease-out;
     transition: max-height 0.4s ease, opacity 0.4s ease;

 }

 .ecommerce .card-content {
     border-color: var(--ecommerce-color);


 }

 .ecommerce h2 {
     color: var(--ecommerce-color);
 }

 .ecommerce .btn {
     background-color: var(--ecommerce-color);
     color: #ffffff;
 }

 .ecommerce a {

     color: var(--ecommerce-color);
 }

 .ecommerce .btn:hover {
     background-color: #ffffff;
     color: var(--ecommerce-color);
 }

 .project-card.ecommerce:hover {
     transform: translateY(-5px);
     box-shadow: 0 10px 20px rgba(241, 125, 30, 0.3);
 }

 .fitTrack .card-content {
     border-color: var(--fitTrack-color);


 }

 .fitTrack h2 {
     color: var(--fitTrack-color);
 }

 .fitTrack .btn {
     background-color: #f17d1e36;
     color: var(--fitTrack-color);
 }

 .fitTrack a {

     color: var(--fitTrack-color);
 }

 .biblioteca a {

     color: var(--biblioteca-color);
 }

 .vendasViagens a {

     color: var(--vendasViagens-color);
 }

 .gerenciadorEventos a {

     color: var(--secondary-color);
 }

 .fitTrack .btn:hover {
     background-color: #ffffff;
     color: var(--fitTrack-color);
 }

 .project-card.fitTrack:hover {
     transform: translateY(-5px);
     box-shadow: 0 10px 20px rgba(241, 125, 30, 0.3);
 }

 .objective-container {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     align-items: space-between;
     width: 100%;
     margin: 10px;
     padding: 10px;
     gap: 30px;
 }


 #footer {

     display: flex;
     flex-direction: column;
     color: #ffffffe7;
     text-decoration: none;
     margin: 20 20px;
     transition: color 0.3s;
 }


 .objective-container a {
     display: inline-block;
     margin-top: 10px;
     text-decoration: none;
     font-weight: bold;
     transition: color 0.3s;

 }

 .fitTrack .objective-container a:hover {
     color: #ffffff;
 }

 .objective-container p {
     text-align: justify;
     color: #ffffffcc;
     margin-top: 10px;
     font-size: 1rem;
 }

 .fitTrack .text-container:hover {
     box-shadow: 0 10px 20px rgba(241, 125, 30, 0.3);
 }

 .gerenciadorEventos .card-content {
     border-color: var(--secondary-color);
 }

 .gerenciadorEventos .text-container:hover {
     box-shadow: 0 10px 20px rgba(58, 245, 183, 0.3);
 }

 .gerenciadorEventos .img-ss:hover {
     box-shadow: 0 10px 20px rgba(58, 245, 183, 0.3);
 }

 .fitTrack .img-ss:hover {
     box-shadow: 0 10px 20px rgba(241, 125, 30, 0.3);
 }

 .vendasViagens .card-content {
     border-color: var(--vendasViagens-color);
 }

 .vendasViagens h2 {
     color: var(--vendasViagens-color);
 }

 .vendasViagens .btn {
     background-color: var(--vendasViagens-color);
     color: #ffffff;
 }

 .vendasViagens .btn:hover {
     background-color: #ffffff;
     color: var(--vendasViagens-color);
 }

 .project-card.vendasViagens:hover {
     transform: translateY(-5px);
     box-shadow: 0 10px 20px rgba(13, 148, 226, 0.3);
 }

 .vendasViagens .text-container:hover {
     box-shadow: 0 10px 20px rgba(13, 148, 226, 0.3);
 }

 .vendasViagens .img-ss:hover {
     box-shadow: 0 10px 20px rgba(13, 148, 226, 0.3);
 }

 .biblioteca .card-content {
     border-color: var(--biblioteca-color);
 }

 .biblioteca h2 {
     color: var(--biblioteca-color);
 }

 .biblioteca .btn {
     background-color: var(--biblioteca-color);
     color: #ffffff;
 }

 .biblioteca .btn:hover {
     background-color: #ffffff;
     color: var(--biblioteca-color);
 }

 .project-card.biblioteca:hover {
     transform: translateY(-5px);
     box-shadow: 0 10px 20px rgba(76, 38, 245, 0.3);
 }

 .biblioteca .text-container:hover {
     box-shadow: 0 10px 20px rgba(76, 38, 245, 0.3);
 }

 .biblioteca .img-ss:hover {
     box-shadow: 0 10px 20px rgba(76, 38, 245, 0.3);
 }

 .img-ss {

     width: 95%;
     border-radius: 50px;
     animation: slideInRight 1s ease-out;

 }

 .img-ss:hover {

     transform: scale(1.05);
     transition: transform 0.3s;


 }


 .text-container:hover {
     transform: scale(1.02);
     transition: transform 0.3s;

 }


 .text-container {

     background-color: #2a2a4a;
     width: 95%;
     margin: 1%;
     padding: 20px;
     padding-left: 30px;
     gap: 10px;
     border-radius: 50px;
     animation: slideInLeft 1s ease-out;
 }



 .list-elements {

     list-style-type: none;
     padding-left: 20px;
     color: #ffffff99;
     padding: 10px;
     list-style: none;

 }

 footer {
     text-align: center;
     margin-top: 50px;
     font-size: 0.9rem;
     color: #ffffff66;
 }




 @keyframes slideInRight {

     from {
         opacity: 0;
         transform: translateX(500px);
     }

     to {
         opacity: 1;
         transform: translateX(0);
     }

 }

 @keyframes slideInLeft {

     from {
         opacity: 0;
         transform: translateX(-500px);
     }

     to {
         opacity: 1;
         transform: translateX(0);
     }
 }

 @keyframes pulse {
     0% {
         box-shadow: 0 0 0 0 rgba(58, 245, 183, 0.493);
     }

     70% {
         box-shadow: 0 0 0 10px rgba(58, 245, 183, 0);
     }

     100% {
         box-shadow: 0 0 0 0 rgba(58, 245, 183, 0);
     }
 }

 @keyframes slideInTop {

     from {
         opacity: 0;
         transform: translateY(-500px);
     }

     to {
         opacity: 1;
         transform: translateY(0);
     }
 }

 @media (max-width: 600px) {
     #main-title {
         font-size: 2.2rem;
     }

     #welcome-message {
         font-size: 1rem;
     }

     .project-card {
         padding: 15px;
         display: flex;
         flex-direction: column;

     }

     .project-card h2 {
         font-size: 1.2rem;
     }

     .project-card p {
         font-size: 0.9rem;
     }

     .text-container {
         padding: 20px;
         text-align: center;
     }

     .img-wrapper:nth-of-type() .text-container {
         padding-left: 20px;
     }

     .img-wrapper:nth-of-type(2) {
         flex-direction: column;
     }

     .img-wrapper {
         flex-direction: column;
     }

     .btn {
         padding: 8px 16px;
     }



 }